Package: luci-app-shadowsocksR
Version: 1.2.1
Depends: libc, libopenssl, libpthread, ipset, ip, iptables-mod-tproxy, libpcre, zlib
Source: package/openwrt-ssr
License: GPLv3
LicenseFiles: LICENSE
Section: luci
Maintainer: yushi studio <ywb94@qq.com>
Architecture: all
Installed-Size: 474355
Description:  LuCI Support for shadowsocksr-libev Client and Server.
