Package: luci-app-shadowsocksR-GFW
Version: 1.2.1
Depends: libc, libopenssl, libpthread, ipset, ip, iptables-mod-tproxy, libpcre, zlib, dnsmasq-full, coreutils, coreutils-base64
Source: package/openwrt-ssr
License: GPLv3
LicenseFiles: LICENSE
Section: luci
Maintainer: yushi studio <ywb94@qq.com>
Architecture: all
Installed-Size: 517837
Description:  LuCI Support for shadowsocksr-libev GFW.
